.banner__content {
  display: flex;
  padding-top: 40px;
}
.banner__body {
  display: flex;
  background-color: #1a0b73;
  background-image: url(/img/banner/banner1.bg.png);
  border-radius: 10px;
  padding: 80px 40px 79px 57px;
  margin-right: 30px;
}
.banner__info {
  display: flex;
  flex-direction: column;
}
.banner__title {
  max-width: 341px;
  /* height: 156px; */
  font-weight: 800;
  font-size: 38px;
  line-height: 52px;
  color: #ffffff;
  margin-bottom: 20px;
}
.banner__span {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 30px;
}
.banner__btn {
  padding: 15px 31px;
  background: #ffffff;
  border-radius: 50px;
  align-self: flex-start;
}
.banner__btn:hover {
  box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.4);
}
.banner__btn:active {
  background: linear-gradient(
      0deg,
      rgba(24, 21, 75, 0.15),
      rgba(24, 21, 75, 0.15)
    ),
    #ffffff;
}

.banner__catalog {
  position: relative;
  padding: 40px 37px 30px 40px;
  background: linear-gradient(0deg, #1a0b73, #1a0b73),
    radial-gradient(
      106.32% 141.75% at -6.32% -2.5%,
      #42e8e0 0%,
      #40ddda 0%,
      #3aaec0 9.21%,
      #3484a9 17.3%,
      #2f6195 25.73%,
      #2b4486 34.58%,
      #282e79 44%,
      #261e71 54.25%,
      #24156c 65.94%,
      #24126a 82.26%
    );
  box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
  border-radius: 10px;
}
.banner__subtitle {
  max-width: 231px;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  color: #ffffff;
  margin-bottom: 10px;
}
.banner__desc {
  display: flex;
  align-items: center;
}
.banner__price {
  display: inline-block;
  font-weight: 700;
  font-size: 56px;
  line-height: 76px;
  color: #ffffff;
  margin-right: 20px;
}
.banner__text {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  color: #ffffff;
}

.link__catalog {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.link__catalog::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}

@media (max-width: 800px) {
  .banner__body {
    padding: 32px 40px 79px 57px;
  }
  .banner__span {
    margin-bottom: 90px;
  }
}
@media (max-width: 700px) {
  .banner__content {
    flex-direction: column;
  }
  .banner__body {
    flex-direction: column;
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 38px 20px 26px 20px;
  }
  .banner__catalog {
    padding: 38px 20px 26px 20px;
  }
  .banner__span {
    margin-bottom: 20px;
  }
}

@media (max-width: 440px) {
  .banner__content {
    padding-top: 20px;
  }
  .banner__info {
    margin-bottom: 20px;
  }
  .banner__img {
    text-align: center;
  }
  .banner__title {
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
  }
  .banner__span {
    font-size: 16px;
    line-height: 22px;
  }
  .banner__subtitle {
    font-size: 20px;
    line-height: 27px;
  }
  .banner__price {
    font-size: 38px;
    line-height: 52px;
  }
  .banner__text {
    font-size: 14px;
  }
  .banner__desc {
    margin-bottom: 10px;
  }
}
