.catalog__title {
  margin-bottom: 40px;
}
.catalog__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 18px;
}

.catalog__item {
  position: relative;
  display: flex;
  max-width: 380px;
  background: url(/img/catalog/bg.png) no-repeat left;
  padding: 16px 32px;
  box-shadow: 0px 4px 20px rgba(0, 7, 94, 0.1);
  border-radius: 10px;
}
.catalog__img {
  align-self: center;
  margin-right: 20px;
}

.catalog-link {
  color: #18154b;
}
@media (max-width: 1100px) {
  .catalog__item {
    padding: 16px 16px;
  }
}

@media (max-width: 995px) {
  .catalog__menu {
    column-gap: 18px;
    justify-content: center;
  }
}
